<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur "vigo" Özyılmazel</string>
	<key>description</key>
	<string>Python FMT - Inspired from `gofmt`. Press `⌘ + S` then I handle the rest.
</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>6B263143-3077-464A-A9DB-EB5C58AB7161</string>
			<string>A884AA08-C483-4484-980B-852D4352256D</string>
            <string>------------------------------------</string>
            <string>3CBBBB4E-0975-4F3A-BBC0-1427684081AD</string>
            <string>------------------------------------</string>
            <string>37058BE3-26A7-4546-8D8E-7FFC6AA8D3DA</string>
            <string>EF4428FA-72C6-410C-9C11-C0228E4A6D08</string>
            <string>851B49B5-557C-4C43-A680-ED74C10CB894</string>
		</array>
	</dict>
	<key>name</key>
	<string>Python FMT</string>
	<key>uuid</key>
	<string>6CAFEF90-868F-46D0-AC9E-AB70DACED414</string>
</dict>
</plist>
